
/* Set a default font-size for rem usage. */
html {
  font-size: 100%;
}

/* Set a maximum height for notes in view mode. */
.IZ65Hb-s2gQvd {
  max-height: 10rem;
}

/* Darken background-color of selected note. */
.VIpgJd-TUo6Hb-xJ5Hnf.XKSfm-L9AdLc-AHe6Kc.eo9XGd {
  background-color: rgba(0, 0, 0, 1);
}